.logo {
	display: block;
	font-size: 1.6rem;
	font-weight: 900;
	color: $color--primary;
	
	.slogan {
		display: block;
		font-size: 0.75rem;
		font-weight: 300;
		margin-top: 0.3rem;
		text-transform: uppercase;
		color: $color--secondary;
	}
}