/// Theme configuration
/// @access private
/// @author dba.codes – Daniel Baumert
/// @param {Object} $themes - Object that contains all defined themes

/**
 * 1. Theme name
 * 2. Color properties
 * 3. Typography properties
 * 4. Radius properties
 * 5. Spacing properties
 * 6. Shadow properties
 * 7. You can add more themes here
 */

$themes: (default: (
		/* 1 */
		/* 2 */
		colors: (primary: #444D74,
			secondary: #F0C14A,
			accent: #EFE8D9,
			light: #F7F6F0,
			dark: #343434,
			font-base: #343434,
			font-headline: #444D74),
		/* 3 */
		typography: (base-family: 'Jost',
			headline-family: 'Jost',
			base-size: 12px),
		/* 4 */
		radius: (sm: 0.5rem,
			md: 1rem,
			lg: 2rem),
		/* 5 */
		spacing: (sm: 0.5rem,
			md: 1rem,
			lg: 2rem),
		/* 6 */
		shadow: (sm: 0 2px 6px rgba(0, 0, 0, 0.075),
			md: 0 9px 16px rgba(0, 0, 0, 0.15),
			lg: 0 12px 24px rgba(0, 0, 0, 0.25)))
	/* 7 */
);