.navigation {
	@extend %block-flex;
	justify-content: flex-end;
	
	li {
		list-style: none;
		display: inline;
		margin-right: $spacing--medium;
		
		&:last-child {
			margin-right: 0;
		}
		
		&.current {
			a {
				color: $color--primary;
			}
		}
		
		a {
			font-size: 1rem;
			padding: 0.25rem;
			&:hover {
				color: $color--secondary;
			}
		}
	}
}