/// Theme configuration
/// @access private
/// @author dba.codes – Daniel Baumert
/// @param {Object} $themes - Object that contains all defined themes

/**
 * 1. Theme name
 * 2. Show the overflow in Edge and IE.
 */

$themes: (
	default: ( /* 1 */
		/// colors
		colors: (
			primary: #444D74,
			secondary: #F0C14A,
			accent: #EFE8D9,
			light: #F7F6F0,
			dark: #343434,
			font-base: #343434,
			font-headline: #444D74
		),
		/// typography
		typography: (
			base-size: 12,
			base-family: 'Jost',
			headline-family: 'Jost'
		),
		/// radius
		radius: (
			small: 0.5rem,
			medium: 1rem,
			large: 2rem
		),
		/// spacing
		spacing: (
			small: 0.5rem,
			medium: 1rem,
			large: 2rem
		),
		/// spacing
		shadow: (
			small: 0 2px 6px rgba(0,0,0,0.075),
			medium: 0 9px 16px rgba(0,0,0,0.15),
			large: 0 12px 24px rgba(0,0,0,0.25)
		)
	),
	olive: ( /* 1 */
		/// colors
		colors: (
			primary: #78856E,
			secondary: #ABC39D,
			accent: #EDCD6D,
			light: #FFF,
			dark: #242328,
			font-base: #FFF,
			font-headline: #FFF
		)
	)
	/// second or more themes here
);